{% extends 'base.html.twig' %}

{% block body %}
 <div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Categories</h3>
	  </div>
	  <div class="panel-body">
	    <table class="table table-striped">
	    	<thead>
	    		<tr>
	    			<th>Category Name</th>
	    			
	    		</tr>
	    	</thead>
	    	<tbody>

	    	<!--Loop through the db category fields-->
	    	{% for category in categories %}
	    		<tr>
	    		<!--Table name and field name-->
	    			<td>{{category.name}}</td>
	    			<td><a class="btn btn-primary" href="/category/edit/{{category.id}}">Edit</a><a class="btn btn-danger" href="/category/delete/{{category.id}}">Delete</a></td>
	    			
	    		</tr>
	    	{% endfor %}
	    	</tbody>
	    </table>

	  </div>
	</div>

{% endblock %}
